[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/timestamp"]
	path = bundle/timestamp
	url = https://github.com/vim-scripts/timestamp.vim.git
[submodule "bundle/hilinktrace"]
	path = bundle/hilinktrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule "bundle/decho"]
	path = bundle/decho
	url = https://github.com/vim-scripts/Decho.git
